.main-container {
    padding: 2rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    gap: 1rem;
}

.header-container {
    width: 100%;
    display: grid;
    grid-template-columns: 5rem 1fr;
    gap: 1rem;
}

.center-span {
    width: 100%;
    height: 100%;
    display: flex;
}

.header {
    margin: 0;
    justify-content: center;
}

.loading-indicator-area {
    display: flex;
    justify-content: start;
    row-gap: 1rem;
    flex-wrap: wrap;
}

#user-cards-area {
    margin-top: 2rem;
}

.user-card {
    cursor: pointer;
}

.user-card:hover {
    border: 2px solid green;
}

.user-card.selected {
    border: 2px solid green;
    background-color: rgb(164, 205, 103);
}

#loading-indicator {
    margin-left: 3rem;
}