<script defer type="application/javascript" src="/send.js"></script>

<h1>Send</h1>

<p>
  <label>Home:</label><input type="text" id="home" placeholder="home" />
  <label>HomeScore:</label
  ><input type="text" id="homeScore" placeholder="homeScore" />
</p>

<p>
  <label>Away:</label><input type="text" id="away" placeholder="away" />
  <label>AwayScore:</label
  ><input type="text" id="awayScore" placeholder="awayScore" />
</p>

<p>
  <button id="send-button" onclick="sendNotification()">
    Send Notification
  </button>
</p>

<progress id="loading-indicator" style="display: none"></progress>
